<h1>Likes#create</h1>
<p>Find me in app/views/likes/create.html.erb</p>

<!-- $("#micropost-<%= @micropost.id %> .like").html("<%= escape_javascript(render "likes/like", micropost: @micropost) %>"); -->
