<h1>Likes#destroy</h1>
<p>Find me in app/views/likes/destroy.html.erb</p>

<!-- $("#micropost-<%= @micropost.id %> .like").html("<%= escape_javascript(render "likes/like", micropost: @micropost) %>");
 -->