html {
	font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    -webkit-locale: "ja";
    display: block;
}


meta {
    display: none;
}
title {
    display: none;
}
meta {
    display: none;
}
link {
    display: none;
}

body {
    font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Osaka', 'ＭＳ Ｐゴシック', sans-serif;
    letter-spacing: .15rem;
    display: block;
}

a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .nav-wrapper {
    position: relative;
    float: 0 auto;
    height: 100%;
}

nav ul {
    margin: 0;
}

li:first-child a {overflow: auto;}

ul {
    padding: 0;
    list-style-type: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    text-align: -webkit-match-parent;
}

h4{
    color: white;
}

h5, h6{
    text-align: center;
}


p{
    background-color: white;
}

.white {
    background-color: #FFFFFF !important;
}

.content_post {
    flex-direction: column-reverse;
    display: inline-block;
    background-color: #ccc;
    width: 600px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    background-size: cover;
    float:0 auto;
}
.content_post2 {
    flex-direction: column-reverse;
    display: inline-block;
    background-color: #ccc;
    width: 150px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    background-size: cover;
    margin: 20px 0 0 0;
}

.box2{
    padding-right: 50px;
}

.acount{
    float:right;
}

.side{
    float:left;
}


.contents_left{
    width: 500px;
    float:left;
    float: center;
}

.contents_right{
   width: 150px;
   float: right;
   flex-direction: column;
   padding: 20px 0 0 0;
}

.contet_map{
    display: inline-block;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    width: 940px;
    height: 500px;
    border: 1px solid #ccc;
    background-size: cover;
}

.contributer {
    color: white;
}

.content_image{
    padding: 0 0 0 100px;
}

.content_map2{
    float:left;
    width: 150px;
    height: 150px;
}


